node_modules/
layers/imagemagick/build/
layers/imagemagick/result/
layers/tesseract/layer/
layers/tesseract/.serverless/
dist/
coverage/
_warmup
.serverless/
.DS_Store
.sonar_lock
.sonarlint
.scannerwork
.vscode
.env
.npmrc
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
